<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>0840BEE6-1B3A-4D66-BA44-B5D4841D506B</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson.jpg</string>
						<key>identifier</key>
						<string>0840BEE6-1B3A-4D66-BA44-B5D4841D506B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/APsvXt/Anders Christensson.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>427C2B7B-11EB-4854-97C9-2CB2A5E2665B</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson Spegelvänd.jpeg</string>
						<key>identifier</key>
						<string>427C2B7B-11EB-4854-97C9-2CB2A5E2665B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/SuSVIB/Anders Christensson Spegelvänd.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>4C7EF62A-4AD4-4D61-B0BF-51847F828345</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>identifier</key>
						<string>4C7EF62A-4AD4-4D61-B0BF-51847F828345</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/2QMYPS/Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>60C27E5E-B797-4E8D-B3D6-008C9E280543</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel.jpeg</string>
						<key>identifier</key>
						<string>60C27E5E-B797-4E8D-B3D6-008C9E280543</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/x39oFf/Anders Christensson B:w Spegel.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C5F3729D-8B17-419E-9232-196B34003C9E</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>identifier</key>
						<string>C5F3729D-8B17-419E-9232-196B34003C9E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/BSxKQj/Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>EA461A48-7593-4580-81F1-70421452E41E</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel.jpeg</string>
						<key>identifier</key>
						<string>EA461A48-7593-4580-81F1-70421452E41E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/T3Iw05/Anders Christensson B:w Spegel.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUG7u9YJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QQAcIERIcHR4h
				KDJFRkdITE9TV1hcZ2hpam1xcn1+f4CDh4iTlJWWmZ2e
				qaqrrK+ztL/AwcLFycrV1tfY3uHk6OxVJG51bGzTCQoL
				DA4QV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OhDYAC
				oQ+AA4A/VG5vZGXVExQVFgsXGBkaG1ROYW1lVWl0ZW1z
				WmlkZW50aWZpZXJYY2hpbGRyZW6ABYAIgASABoA+XxAk
				REI4NDZBNEItQkM1Ny00NEUxLThFRjQtQUY1M0I3RjNC
				NUU3XxAPVW50aXRsZWQgRm9sZGVy0goLHyCggAfSIiMk
				JVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFy
				cmF5oyQmJ1dOU0FycmF5WE5TT2JqZWN00goLKSCnKiss
				LS4vMIAJgBOAGoAhgCiAL4A2gAfaMzQLNTY3Ezg5Ojs8
				PT4+QEFCQ0ReUmVtb3RlUmVzb3VyY2VbT3JpZ2luYWxV
				UkxcUHVibGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVfEA9D
				aGFuZ2VkU3RhdHVzZXNaSWRlbnRpZmllcllUaW1lU3Rh
				bXBZRmlsZVRva2VuCIARgBKAAIAAgA+AC4AKgA2ADF8Q
				JDk5M0VCRDI0LThCNEItNDk3Qy05MDUyLUVGRUFCRDY0
				QjNFNl8QF0FuZGVycyBDaHJpc3RlbnNzb24uanBnXxAk
				MDg0MEJFRTYtMUIzQS00RDY2LUJBNDQtQjVENDg0MUQ1
				MDZC0kkLSktXTlMudGltZSNBwaGgDIAAAIAO0iIjTU5W
				TlNEYXRlok0n0wkKC1BRUqCggBDSIiNUVV8QE05TTXV0
				YWJsZURpY3Rpb25hcnmjVFYnXE5TRGljdGlvbmFyeV8Q
				VS9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpZ21hL0Jp
				bGRlci9BbmRlcnMgQ2hyaXN0ZW5zc29uLzIwMTcvQW5k
				ZXJzIENocmlzdGVuc3Nvbi5qcGfSIiNZWl5SV1NpdGVS
				ZXNvdXJjZaJbJ15SV1NpdGVSZXNvdXJjZdozNAs1NjcT
				ODk6O149Pj5iY2RlZgiAGYASgACAAIAYgBWAFIAXgBZf
				ECQ2QUNBRDM0RC0xNUQzLTQ4NTgtQTFGNi02OEI4RUJE
				MTJDM0ZvECQAQQBuAGQAZQByAHMAIABDAGgAcgBpAHMA
				dABlAG4AcwBzAG8AbgAgAFMAcABlAGcAZQBsAHYAYQMI
				AG4AZAAuAGoAcABlAGdfECQ0MjdDMkI3Qi0xMUVCLTQ4
				NTQtOTdDOS0yQ0IyQTVFMjY2NULSSQtrSyNBwpcWPQAA
				AIAO0wkKC25vUqCggBBvEGIALwBVAHMAZQByAHMALwBh
				AG4AZABlAHIAcwAvAEQAbwBjAHUAbQBlAG4AdABzAC8A
				UwBpAGcAbQBhAC8AQgBpAGwAZABlAHIALwBBAG4AZABl
				AHIAcwAgAEMAaAByAGkAcwB0AGUAbgBzAHMAbwBuAC8A
				MgAwADEANwAvAEEAbgBkAGUAcgBzACAAQwBoAHIAaQBz
				AHQAZQBuAHMAcwBvAG4AIABTAHAAZQBnAGUAbAB2AGED
				CABuAGQALgBqAHAAZQBn2jM0CzU2NxM4OTo7dD0+Pnh5
				ent8CIAggBKAAIAAgB+AHIAbgB6AHV8QJEU5MzQzRUFF
				LUU3MUQtNDVFRi04NkQzLTk0QkJCQkM2NTMzN18QI0Fu
				ZGVycyBDaHJpc3RlbnNzb24gQjp3IFNwZWdlbC5qcGVn
				XxAkNjBDMjdFNUUtQjc5Ny00RThELUIzRDYtMDA4QzlF
				MjgwNTQz0kkLgUsjQcKXFx4AAACADtMJCguEhVKgoIAQ
				XxBhL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2lnbWEv
				QmlsZGVyL0FuZGVycyBDaHJpc3RlbnNzb24vMjAxNy9B
				bmRlcnMgQ2hyaXN0ZW5zc29uIEI6dyBTcGVnZWwuanBl
				Z9ozNAs1NjcTODk6O4o9Pj6Oj5CRkgiAJ4ASgACAAIAm
				gCOAIoAlgCRfECRERTYxQTYwMy0xNzRFLTQwMEItOTNB
				OC1DNEFEMDFFRDJCMzFfECtBbmRlcnMgQ2hyaXN0ZW5z
				c29uIEI6dyBTcGVnZWwgc21hbGxlci5qcGVnXxAkQzVG
				MzcyOUQtOEIxNy00MTlFLTkyMzItMTk2QjM0MDAzQzlF
				0kkLl0sjQcKXF5SAAACADtMJCguam1KgoIAQXxBDL1Vz
				ZXJzL2FuZGVycy9Eb3dubG9hZHMvQW5kZXJzIENocmlz
				dGVuc3NvbiBCOncgU3BlZ2VsIHNtYWxsZXIuanBlZ9oz
				NAs1NjcTODk6O6A9Pj6kpaanqAiALoASgACAAIAtgCqA
				KYAsgCtfECQ0RTg4N0VCNy1DMDU2LTQ1NTAtQTkwNS1G
				QTc3NzBCNzE4N0NfECNBbmRlcnMgQ2hyaXN0ZW5zc29u
				IEI6dyBTcGVnZWwuanBlZ18QJEVBNDYxQTQ4LTc1OTMt
				NDU4MC04MUYxLTcwNDIxNDUyRTQxRdJJC61LI0HClxdX
				gAAAgA7TCQoLsLFSoKCAEF8QYS9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpZ21hL0JpbGRlci9BbmRlcnMgQ2hy
				aXN0ZW5zc29uLzIwMTcvQW5kZXJzIENocmlzdGVuc3Nv
				biBCOncgU3BlZ2VsLmpwZWfaMzQLNTY3Ezg5Oju2PT4+
				uru8vb4IgDWAEoAAgACANIAxgDCAM4AyXxAkMUIxRkY5
				OTAtRkVFRS00NkQ3LThCNTEtMzgyRTI2Mjk2Q0RFXxAr
				QW5kZXJzIENocmlzdGVuc3NvbiBCOncgU3BlZ2VsIHNt
				YWxsZXIuanBlZ18QJDRDN0VGNjJBLTRBRDQtNEQ2MS1C
				MEJGLTUxODQ3RjgyODM0NdJJC8NLI0HClxg5AAAAgA7T
				CQoLxsdSoKCAEF8QQy9Vc2Vycy9hbmRlcnMvRG93bmxv
				YWRzL0FuZGVycyBDaHJpc3RlbnNzb24gQjp3IFNwZWdl
				bCBzbWFsbGVyLmpwZWfaMzQLNTY3Ezg5Oss+Pc4+0NHS
				09QJgACAEoA6gACAPYA4gDeAPIA5XxAkRkE1NUY1RTYt
				MUU2QS00NkVELTkzOUEtOEM0NTVFRENCMEIxXxAkcGhv
				dG8tMTUzMTk3MjExMTIzMS03NDgyYTk2MGUxMDkuanBn
				XxCbaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bo
				b3RvLTE1MzE5NzIxMTEyMzEtNzQ4MmE5NjBlMTA5P2l4
				bGliPXJiLTEuMi4xJnE9ODAmZm09anBnJmNyb3A9ZW50
				cm9weSZjcz10aW55c3JnYiZ3PTEwODAmZml0PW1heCZp
				eGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1ZlHT2QvaPtzU
				V05TLmJhc2VbTlMucmVsYXRpdmWAAIA7gDnSIiPf4FVO
				U1VSTKLfJ9JJC+JLI0HClxmBoHVogA7TCQoL5eZSoKCA
				ENIiI+nqXFJXU2l0ZUZvbGRlcqLrJ1xSV1NpdGVGb2xk
				ZXLSIiNW7aJWJ18QD05TS2V5ZWRBcmNoaXZlctHw8VRy
				b290gAEACAARABoAIwAtADIANwB6AIAAhwCPAJoAoQCj
				AKUApwCpAKsAsAC7AMAAxgDRANoA3ADeAOAA4gDkAQsB
				HQEiASMBJQEqATUBPgFNAVEBWQFiAWcBbwFxAXMBdQF3
				AXkBewF9AX8BlAGjAa8BvAHKAdwB5wHxAfsB/AH+AgAC
				AgIEAgYCCAIKAgwCDgI1Ak8CdgJ7AoMCjAKOApMCmgKd
				AqQCpQKmAqgCrQLDAscC1AMsAzEDQANDA1IDZwNoA2oD
				bANuA3ADcgN0A3YDeAN6A6ED7AQTBBgEIQQjBCoEKwQs
				BC4E9QUKBQsFDQUPBREFEwUVBRcFGQUbBR0FRAVqBZEF
				lgWfBaEFqAWpBaoFrAYQBiUGJgYoBioGLAYuBjAGMgY0
				BjYGOAZfBo0GtAa5BsIGxAbLBswGzQbPBxUHKgcrBy0H
				LwcxBzMHNQc3BzkHOwc9B2QHigexB7YHvwfBB8gHyQfK
				B8wIMAhFCEYISAhKCEwITghQCFIIVAhWCFgIfwitCNQI
				2QjiCOQI6wjsCO0I7wk1CUoJSwlNCU8JUQlTCVUJVwlZ
				CVsJXQmECasKSQpQClgKZApmCmgKagpvCnUKeAp9CoYK
				iAqPCpAKkQqTCpgKpQqoCrUKugq9Cs8K0grXAAAAAAAA
				AgEAAAAAAAAA8gAAAAAAAAAAAAAAAAAACtk=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>FA55F5E6-1E6A-46ED-939A-8C455EDCB0B1</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Anders Christensson</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.htm</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>M. Sc. Cs. </string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Climate</string>
					<key>TitleText</key>
					<string>Anders Christensson</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>A4679722-33B7-480D-AB50-95CF694396AC_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
