<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>0840BEE6-1B3A-4D66-BA44-B5D4841D506B</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson.jpg</string>
						<key>identifier</key>
						<string>0840BEE6-1B3A-4D66-BA44-B5D4841D506B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/APsvXt/Anders Christensson.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>427C2B7B-11EB-4854-97C9-2CB2A5E2665B</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson Spegelvänd.jpeg</string>
						<key>identifier</key>
						<string>427C2B7B-11EB-4854-97C9-2CB2A5E2665B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/SuSVIB/Anders Christensson Spegelvänd.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>4C7EF62A-4AD4-4D61-B0BF-51847F828345</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>identifier</key>
						<string>4C7EF62A-4AD4-4D61-B0BF-51847F828345</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/2QMYPS/Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>60C27E5E-B797-4E8D-B3D6-008C9E280543</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel.jpeg</string>
						<key>identifier</key>
						<string>60C27E5E-B797-4E8D-B3D6-008C9E280543</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/x39oFf/Anders Christensson B:w Spegel.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>BA611CBA-A813-4B72-AAF7-31140A56C392</key>
					<dict>
						<key>fileName</key>
						<string>office.jpeg</string>
						<key>identifier</key>
						<string>BA611CBA-A813-4B72-AAF7-31140A56C392</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-18413/aXj8jp/office.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C5F3729D-8B17-419E-9232-196B34003C9E</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>identifier</key>
						<string>C5F3729D-8B17-419E-9232-196B34003C9E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/BSxKQj/Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>EA461A48-7593-4580-81F1-70421452E41E</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel.jpeg</string>
						<key>identifier</key>
						<string>EA461A48-7593-4580-81F1-70421452E41E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/T3Iw05/Anders Christensson B:w Spegel.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUG4OFYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QOQcIERIcHR4h
				KDJFRkdITE9TV1tmZ2hpbHB7fH1+gYWQkZKTlpqlpqeo
				q6+6u7y9wMTP0NHS1dna3lUkbnVsbNMJCgsMDhBXTlMu
				a2V5c1pOUy5vYmplY3RzViRjbGFzc6ENgAKhD4ADgDhU
				bm9kZdUTFBUWCxcYGRobVE5hbWVVaXRlbXNaaWRlbnRp
				ZmllclhjaGlsZHJlboAFgAiABIAGgDdfECREQjg0NkE0
				Qi1CQzU3LTQ0RTEtOEVGNC1BRjUzQjdGM0I1RTdfEA9V
				bnRpdGxlZCBGb2xkZXLSCgsfIKCAB9IiIyQlWiRjbGFz
				c25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjJCYn
				V05TQXJyYXlYTlNPYmplY3TSCgspIKcqKywtLi8wgAmA
				EoAYgB6AJIAqgDCAB9ozNAs1NjcTODk6Ozw9PDxAQUJD
				RF5SZW1vdGVSZXNvdXJjZVtPcmlnaW5hbFVSTFxQdWJs
				aXNoZWRVUkxdUHVibGlzaGVkRGF0ZV8QD0NoYW5nZWRT
				dGF0dXNlc1pJZGVudGlmaWVyWVRpbWVTdGFtcFlGaWxl
				VG9rZW4IgACAEYAAgACAD4ALgAqADYAMXxAkOTkzRUJE
				MjQtOEI0Qi00OTdDLTkwNTItRUZFQUJENjRCM0U2XxAX
				QW5kZXJzIENocmlzdGVuc3Nvbi5qcGdfECQwODQwQkVF
				Ni0xQjNBLTRENjYtQkE0NC1CNUQ0ODQxRDUwNkLSSQtK
				S1dOUy50aW1lI0HBoaAMgAAAgA7SIiNNTlZOU0RhdGWi
				TSfTCQoLUFFSoKCAENIiI1RVXxATTlNNdXRhYmxlRGlj
				dGlvbmFyeaNUVidcTlNEaWN0aW9uYXJ50iIjWFleUldT
				aXRlUmVzb3VyY2WiWideUldTaXRlUmVzb3VyY2XaMzQL
				NTY3Ezg5Ojs8PTw8YWJjZGUIgACAEYAAgACAF4AUgBOA
				FoAVXxAkNkFDQUQzNEQtMTVEMy00ODU4LUExRjYtNjhC
				OEVCRDEyQzNGbxAkAEEAbgBkAGUAcgBzACAAQwBoAHIA
				aQBzAHQAZQBuAHMAcwBvAG4AIABTAHAAZQBnAGUAbAB2
				AGEDCABuAGQALgBqAHAAZQBnXxAkNDI3QzJCN0ItMTFF
				Qi00ODU0LTk3QzktMkNCMkE1RTI2NjVC0kkLaksjQcKX
				Fj0AAACADtMJCgttblKgoIAQ2jM0CzU2NxM4OTo7PD08
				PHZ3eHl6CIAAgBGAAIAAgB2AGoAZgByAG18QJEU5MzQz
				RUFFLUU3MUQtNDVFRi04NkQzLTk0QkJCQkM2NTMzN18Q
				I0FuZGVycyBDaHJpc3RlbnNzb24gQjp3IFNwZWdlbC5q
				cGVnXxAkNjBDMjdFNUUtQjc5Ny00RThELUIzRDYtMDA4
				QzlFMjgwNTQz0kkLf0sjQcKXFx4AAACADtMJCguCg1Kg
				oIAQ2jM0CzU2NxM4OTo7PD08PIuMjY6PCIAAgBGAAIAA
				gCOAIIAfgCKAIV8QJERFNjFBNjAzLTE3NEUtNDAwQi05
				M0E4LUM0QUQwMUVEMkIzMV8QK0FuZGVycyBDaHJpc3Rl
				bnNzb24gQjp3IFNwZWdlbCBzbWFsbGVyLmpwZWdfECRD
				NUYzNzI5RC04QjE3LTQxOUUtOTIzMi0xOTZCMzQwMDND
				OUXSSQuUSyNBwpcXlIAAAIAO0wkKC5eYUqCggBDaMzQL
				NTY3Ezg5Ojs8PTw8oKGio6QIgACAEYAAgACAKYAmgCWA
				KIAnXxAkNEU4ODdFQjctQzA1Ni00NTUwLUE5MDUtRkE3
				NzcwQjcxODdDXxAjQW5kZXJzIENocmlzdGVuc3NvbiBC
				OncgU3BlZ2VsLmpwZWdfECRFQTQ2MUE0OC03NTkzLTQ1
				ODAtODFGMS03MDQyMTQ1MkU0MUXSSQupSyNBwpcXV4AA
				AIAO0wkKC6ytUqCggBDaMzQLNTY3Ezg5Ojs8PTw8tba3
				uLkIgACAEYAAgACAL4AsgCuALoAtXxAkMUIxRkY5OTAt
				RkVFRS00NkQ3LThCNTEtMzgyRTI2Mjk2Q0RFXxArQW5k
				ZXJzIENocmlzdGVuc3NvbiBCOncgU3BlZ2VsIHNtYWxs
				ZXIuanBlZ18QJDRDN0VGNjJBLTRBRDQtNEQ2MS1CMEJG
				LTUxODQ3RjgyODM0NdJJC75LI0HClxg5AAAAgA7TCQoL
				wcJSoKCAENozNAs1NjcTODk6O8Y9PDzKy8zNzgiANoAR
				gACAAIA1gDKAMYA0gDNfECQ2MDJGNTA5RC1BQjVFLTRG
				RUYtQTZFMy1CRTY2NEJGRjI5NDRbb2ZmaWNlLmpwZWdf
				ECRCQTYxMUNCQS1BODEzLTRCNzItQUFGNy0zMTE0MEE1
				NkMzOTLSSQvTSyNBwpdmHYAAAIAO0wkKC9bXUqCggBBf
				ECMvVXNlcnMvYW5kZXJzL0Rvd25sb2Fkcy9vZmZpY2Uu
				anBlZ9IiI9vcXFJXU2l0ZUZvbGRlcqLdJ1xSV1NpdGVG
				b2xkZXLSIiNW36JWJ18QD05TS2V5ZWRBcmNoaXZlctHi
				41Ryb290gAEACAARABoAIwAtADIANwBzAHkAgACIAJMA
				mgCcAJ4AoACiAKQAqQC0ALkAvwDKANMA1QDXANkA2wDd
				AQQBFgEbARwBHgEjAS4BNwFGAUoBUgFbAWABaAFqAWwB
				bgFwAXIBdAF2AXgBjQGcAagBtQHDAdUB4AHqAfQB9QH3
				AfkB+wH9Af8CAQIDAgUCBwIuAkgCbwJ0AnwChQKHAowC
				kwKWAp0CngKfAqECpgK8AsACzQLSAuEC5ALzAwgDCQML
				Aw0DDwMRAxMDFQMXAxkDGwNCA40DtAO5A8IDxAPLA8wD
				zQPPA+QD5QPnA+kD6wPtA+8D8QPzA/UD9wQeBEQEawRw
				BHkEewSCBIMEhASGBJsEnASeBKAEogSkBKYEqASqBKwE
				rgTVBQMFKgUvBTgFOgVBBUIFQwVFBVoFWwVdBV8FYQVj
				BWUFZwVpBWsFbQWUBboF4QXmBe8F8QX4BfkF+gX8BhEG
				EgYUBhYGGAYaBhwGHgYgBiIGJAZLBnkGoAalBq4GsAa3
				BrgGuQa7BtAG0QbTBtUG1wbZBtsG3QbfBuEG4wcKBxYH
				PQdCB0sHTQdUB1UHVgdYB34HgweQB5MHoAelB6gHuge9
				B8IAAAAAAAACAQAAAAAAAADkAAAAAAAAAAAAAAAAAAAH
				xA==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>602F509D-AB5E-4FEF-A6E3-BE664BFF2944</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Anders Christensson</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.htm</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<false/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string>s3.amazonaws.com</string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>4</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>M. Sc. Cs. </string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Climate</string>
					<key>TitleText</key>
					<string>Anders Christensson</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>A4679722-33B7-480D-AB50-95CF694396AC_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
