<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>0840BEE6-1B3A-4D66-BA44-B5D4841D506B</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson.jpg</string>
						<key>identifier</key>
						<string>0840BEE6-1B3A-4D66-BA44-B5D4841D506B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/APsvXt/Anders Christensson.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>427C2B7B-11EB-4854-97C9-2CB2A5E2665B</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson Spegelvänd.jpeg</string>
						<key>identifier</key>
						<string>427C2B7B-11EB-4854-97C9-2CB2A5E2665B</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/SuSVIB/Anders Christensson Spegelvänd.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>4C7EF62A-4AD4-4D61-B0BF-51847F828345</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>identifier</key>
						<string>4C7EF62A-4AD4-4D61-B0BF-51847F828345</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/2QMYPS/Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>60C27E5E-B797-4E8D-B3D6-008C9E280543</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel.jpeg</string>
						<key>identifier</key>
						<string>60C27E5E-B797-4E8D-B3D6-008C9E280543</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/x39oFf/Anders Christensson B:w Spegel.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C5F3729D-8B17-419E-9232-196B34003C9E</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>identifier</key>
						<string>C5F3729D-8B17-419E-9232-196B34003C9E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/BSxKQj/Anders Christensson B:w Spegel smaller.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>EA461A48-7593-4580-81F1-70421452E41E</key>
					<dict>
						<key>fileName</key>
						<string>Anders Christensson B:w Spegel.jpeg</string>
						<key>identifier</key>
						<string>EA461A48-7593-4580-81F1-70421452E41E</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/zl/6lqkbpdn1_32tplr9gfq6j880000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-13374/T3Iw05/Anders Christensson B:w Spegel.jpeg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUG6OlYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QOgcIERIcHR4h
				KDJFRkdITE9TV1tmZ2hpbHB7fH1+gYWQkZKTlpqlpqeo
				q6+6u7y9wMTP0NHS2Nve4uZVJG51bGzTCQoLDA4QV05T
				LmtleXNaTlMub2JqZWN0c1YkY2xhc3OhDYACoQ+AA4A5
				VG5vZGXVExQVFgsXGBkaG1ROYW1lVWl0ZW1zWmlkZW50
				aWZpZXJYY2hpbGRyZW6ABYAIgASABoA4XxAkREI4NDZB
				NEItQkM1Ny00NEUxLThFRjQtQUY1M0I3RjNCNUU3XxAP
				VW50aXRsZWQgRm9sZGVy0goLHyCggAfSIiMkJVokY2xh
				c3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5oyQm
				J1dOU0FycmF5WE5TT2JqZWN00goLKSCnKissLS4vMIAJ
				gBKAGIAegCSAKoAwgAfaMzQLNTY3Ezg5Ojs8PTw8QEFC
				Q0ReUmVtb3RlUmVzb3VyY2VbT3JpZ2luYWxVUkxcUHVi
				bGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVfEA9DaGFuZ2Vk
				U3RhdHVzZXNaSWRlbnRpZmllcllUaW1lU3RhbXBZRmls
				ZVRva2VuCIAAgBGAAIAAgA+AC4AKgA2ADF8QJDk5M0VC
				RDI0LThCNEItNDk3Qy05MDUyLUVGRUFCRDY0QjNFNl8Q
				F0FuZGVycyBDaHJpc3RlbnNzb24uanBnXxAkMDg0MEJF
				RTYtMUIzQS00RDY2LUJBNDQtQjVENDg0MUQ1MDZC0kkL
				SktXTlMudGltZSNBwaGgDIAAAIAO0iIjTU5WTlNEYXRl
				ok0n0wkKC1BRUqCggBDSIiNUVV8QE05TTXV0YWJsZURp
				Y3Rpb25hcnmjVFYnXE5TRGljdGlvbmFyedIiI1hZXlJX
				U2l0ZVJlc291cmNlolonXlJXU2l0ZVJlc291cmNl2jM0
				CzU2NxM4OTo7PD08PGFiY2RlCIAAgBGAAIAAgBeAFIAT
				gBaAFV8QJDZBQ0FEMzRELTE1RDMtNDg1OC1BMUY2LTY4
				QjhFQkQxMkMzRm8QJABBAG4AZABlAHIAcwAgAEMAaABy
				AGkAcwB0AGUAbgBzAHMAbwBuACAAUwBwAGUAZwBlAGwA
				dgBhAwgAbgBkAC4AagBwAGUAZ18QJDQyN0MyQjdCLTEx
				RUItNDg1NC05N0M5LTJDQjJBNUUyNjY1QtJJC2pLI0HC
				lxY9AAAAgA7TCQoLbW5SoKCAENozNAs1NjcTODk6Ozw9
				PDx2d3h5egiAAIARgACAAIAdgBqAGYAcgBtfECRFOTM0
				M0VBRS1FNzFELTQ1RUYtODZEMy05NEJCQkJDNjUzMzdf
				ECNBbmRlcnMgQ2hyaXN0ZW5zc29uIEI6dyBTcGVnZWwu
				anBlZ18QJDYwQzI3RTVFLUI3OTctNEU4RC1CM0Q2LTAw
				OEM5RTI4MDU0M9JJC39LI0HClxceAAAAgA7TCQoLgoNS
				oKCAENozNAs1NjcTODk6Ozw9PDyLjI2OjwiAAIARgACA
				AIAjgCCAH4AigCFfECRERTYxQTYwMy0xNzRFLTQwMEIt
				OTNBOC1DNEFEMDFFRDJCMzFfECtBbmRlcnMgQ2hyaXN0
				ZW5zc29uIEI6dyBTcGVnZWwgc21hbGxlci5qcGVnXxAk
				QzVGMzcyOUQtOEIxNy00MTlFLTkyMzItMTk2QjM0MDAz
				QzlF0kkLlEsjQcKXF5SAAACADtMJCguXmFKgoIAQ2jM0
				CzU2NxM4OTo7PD08PKChoqOkCIAAgBGAAIAAgCmAJoAl
				gCiAJ18QJDRFODg3RUI3LUMwNTYtNDU1MC1BOTA1LUZB
				Nzc3MEI3MTg3Q18QI0FuZGVycyBDaHJpc3RlbnNzb24g
				Qjp3IFNwZWdlbC5qcGVnXxAkRUE0NjFBNDgtNzU5My00
				NTgwLTgxRjEtNzA0MjE0NTJFNDFF0kkLqUsjQcKXF1eA
				AACADtMJCgusrVKgoIAQ2jM0CzU2NxM4OTo7PD08PLW2
				t7i5CIAAgBGAAIAAgC+ALIArgC6ALV8QJDFCMUZGOTkw
				LUZFRUUtNDZENy04QjUxLTM4MkUyNjI5NkNERV8QK0Fu
				ZGVycyBDaHJpc3RlbnNzb24gQjp3IFNwZWdlbCBzbWFs
				bGVyLmpwZWdfECQ0QzdFRjYyQS00QUQ0LTRENjEtQjBC
				Ri01MTg0N0Y4MjgzNDXSSQu+SyNBwpcYOQAAAIAO0wkK
				C8HCUqCggBDaMzQLNTY3Ezg5OsU8Pcg8ysvMzc4JgACA
				EYA0gACAN4AygDGANoAzXxAkODI4MzJDQ0QtRTAzRC00
				RjE3LUI5NkUtQjgyQkM0NDExRTE3XxAhcGhvdG8tMTU0
				MjgyMjAzOC0zYTE4MTBhNWZiNjkuanBnXxCYaHR0cHM6
				Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bob3RvLTE1NDI4
				MjIwMzgtM2ExODEwYTVmYjY5P2l4bGliPXJiLTEuMi4x
				JnE9ODAmZm09anBnJmNyb3A9ZW50cm9weSZjcz10aW55
				c3JnYiZ3PTEwODAmZml0PW1heCZpeGlkPWV5SmhjSEJm
				YVdRaU9qRXpNalE1ZlHT0wvUPNbOV05TLmJhc2VbTlMu
				cmVsYXRpdmWAAIA1gDPSIiPZ2lVOU1VSTKLZJ9JJC9xL
				I0HCpYIiQSxigA7TCQoL3+BSoKCAENIiI+PkXFJXU2l0
				ZUZvbGRlcqLlJ1xSV1NpdGVGb2xkZXLSIiNW56JWJ18Q
				D05TS2V5ZWRBcmNoaXZlctHq61Ryb290gAEACAARABoA
				IwAtADIANwB0AHoAgQCJAJQAmwCdAJ8AoQCjAKUAqgC1
				ALoAwADLANQA1gDYANoA3ADeAQUBFwEcAR0BHwEkAS8B
				OAFHAUsBUwFcAWEBaQFrAW0BbwFxAXMBdQF3AXkBjgGd
				AakBtgHEAdYB4QHrAfUB9gH4AfoB/AH+AgACAgIEAgYC
				CAIvAkkCcAJ1An0ChgKIAo0ClAKXAp4CnwKgAqICpwK9
				AsECzgLTAuIC5QL0AwkDCgMMAw4DEAMSAxQDFgMYAxoD
				HANDA44DtQO6A8MDxQPMA80DzgPQA+UD5gPoA+oD7APu
				A/AD8gP0A/YD+AQfBEUEbARxBHoEfASDBIQEhQSHBJwE
				nQSfBKEEowSlBKcEqQSrBK0ErwTWBQQFKwUwBTkFOwVC
				BUMFRAVGBVsFXAVeBWAFYgVkBWYFaAVqBWwFbgWVBbsF
				4gXnBfAF8gX5BfoF+wX9BhIGEwYVBhcGGQYbBh0GHwYh
				BiMGJQZMBnoGoQamBq8GsQa4BrkGuga8BtEG0gbUBtYG
				2AbaBtwG3gbgBuIG5AcLBy8HygfRB9kH5QfnB+kH6wfw
				B/YH+Qf+CAcICQgQCBEIEggUCBkIJggpCDYIOwg+CFAI
				UwhYAAAAAAAAAgEAAAAAAAAA7AAAAAAAAAAAAAAAAAAA
				CFo=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>82832CCD-E03D-4F17-B96E-B82BC4411E17</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Anders Christensson</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.htm</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<false/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string>s3.amazonaws.com</string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>4</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>M. Sc. Cs. </string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Climate</string>
					<key>TitleText</key>
					<string>Anders Christensson</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>A4679722-33B7-480D-AB50-95CF694396AC_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
